# Supervised Learning In Action
By Mahfuz Miah, November 2019

Prelude: Assignment is described as the following:
First: Go out and find a dataset of interest. It could be from one of our recommended resources, some other aggregation, or scraped yourself. Just make sure it has lots of variables in it, including an outcome of interest to you.

Second: Explore the data. Get to know the data. Spend a lot of time going over its quirks and peccadilloes. You should understand how it was gathered, what's in it, and what the variables look like.

Third: Model your outcome of interest. You should try several different approaches and really work to tune a variety of models before using the model evaluation techniques to choose what you consider to be the best performer. Make sure to think about explanatory versus predictive power and experiment with both.

## 1. Synopsis

Data taken from: 

Lead Testing in School Drinking Water Sampling and Results: Most Recently Reported Beginning 2016
Link: https://healthdata.gov/dataset/lead-testing-school-drinking-water-sampling-and-results-most-recently-reported-beginning

Combined with:
NYS Education Department Data
Link: https://data.nysed.gov/downloads.php
SRC2018: This database contains accountability, annual assessment, and staff data for the state as well as by county, Need to Resource Capacity group, district, public school, and charter school.
STUDED2018: This database contains free and reduced-price lunch, average class size, student attendance and suspensions, staff counts, teacher attendance, and teacher turnover data.
ENROLL2018: This database contains school, district, county, and statewide enrollment by grade, race/ethnicity, gender, and other groups.

Can join tables on BEDS (Basic Educational Data System (BEDS) code) or name of school. Theoretically.

## 2. Background

## 3. Understanding and Preparing the Data Set

In [56]:
#Libraries:
# import all necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.cbook as cbook
import statistics
from pandas import DataFrame
import datetime
import seaborn as sns
from sklearn import linear_model
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sklearn import linear_model
from fractions import Fraction
import statsmodels.api as sm
import seaborn as sns
from scipy.stats import normaltest

# set up the figure size

%matplotlib inline

In [57]:
# #Load the data:
# from meza import io, process as pr, convert as cv
# from io import open

# enroll_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/enrollment_2018/ENROLL2018.mdb'
# studed_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/studed2018/STUDED2018.mdb'
# src_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/SRC2018/SRC2018_20190627.mdb'
# #
# enroll_data = io.read(enroll_path)

# #
# studed_data = io.read(studed_path) 

# #
# src_data = io.read(src_path)

In [58]:
# with open(enroll_path) as f:
#     records = io.read_mdb(f, encoding='latin-1')

In [59]:
# next(enroll_data)

In [60]:
# enroll_data = pr.prepend(enroll_data, row)

In [61]:
# enroll_data, result = pr.detect_types(enroll_data)
# {t['id']: t['type'] for t in result['types']}

In [62]:
# enroll_data

In [63]:
# print(next(enroll_data))

In [64]:
# print(next(studed_data))

In [65]:
# print(next(src_data))

In [66]:
# from io import open
# from meza import io

# #records1 = io.read(enroll_path)
# #records2 = io.read('path/to/file.xls')

# with open(enroll_path, encoding='utf-8') as f:
#     records3 = io.read(f, ext='mdb')

# records3

In [67]:
# import pandas_access as mdb  # Link: https://github.com/jbn/pandas_access

# # Listing the tables.
# for tbl in mdb.list_tables(src_path):
#     print(tbl)

In [68]:
# # Read a small table.
# df = mdb.read_table(src_path, "ACC EM ELP")

In [69]:
# to_pandas_schema(read_schema(rdb_file, schema_encoding),kwargs.pop('implicit_string', True))

In [70]:
# # Read a huge table.
# accumulator = []
# for chunk in mdb.read_table(src_path, "ACC EM ELP", chunksize=10000):
#     accumulator.append(f(chunk))

In [71]:
# Set up the data
# Link: https://healthdata.gov/dataset/lead-testing-school-drinking-water-sampling-and-results-most-recently-reported-beginning
# Lead Testing in School Drinking Water Sampling and Results: Most Recently Reported Beginning 2016

def setdata(filename):
    df = pd.read_csv(filename)
    
    # Strip and make column names lowercase so that they are easy to manage. 
    df.columns = df.columns.str.strip().str.lower()

    # Replace characters or remove spaces and make all words lowercase.
    df.columns = df.columns.str.replace(' ', '_').str.replace('/', '_').str.replace('(', '').str.replace(')', '')

    return df

In [72]:
# define all paths to necessary csv/txt files
lead_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/Lead_Testing.csv'
elem_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/Elementary.txt'
hs_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/HighSchool.txt'
dem_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/DemographicFactors.txt'
lunch_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/FreeReducedPriceLunch.txt'
ins_path = '/Users/Mahfuz-Tamim/Thinkful/Supervised Learning/Capstone/InstitutionGrouping.txt'

In [73]:
# set up all the dataframes from all the csv/txt files
lead_df = setdata(lead_path)
elem_df = setdata(elem_path)
hs_df = setdata(hs_path)
dem_df = setdata(dem_path)
lunch_df = setdata(lunch_path)
ins_df = setdata(ins_path)

# make a list of all the dataframes
list_dfs = [lead_df,elem_df,hs_df,dem_df,lunch_df,ins_df]

# make a list of all the names of the dataframes in string format
str_list_dfs = ['lead_df','elem_df','hs_df','dem_df','lunch_df','ins_df']

In [74]:
lead_df.head()

,school_district,school,county,type_of_organization,number_of_outlets,any_buildings_with_lead-free_plumbing?,previously_sampled_outlets,outlets_waiver_requested,waivers_granted,outlets_sampled_after_regulation,...,school_website,beds_code,school_street,school_city,school_state,school_zip_code,date_sampling_updated,date_results_updated,county_location,location
0,BOCES No District Name,SULLIVAN BOCES,Sullivan,BOCES School,NaN,No,NaN,NaN,NaN,NaN,...,NaN,599000000000,6 WIERK AVE,LIBERTY,NY,12754,NaN,NaN,"(41.705166, -74.711705)","6 WIERK AVE\nLIBERTY, NY 12754\n(41.795377, -7..."
1,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,BOCES School,NaN,No,NaN,NaN,NaN,NaN,...,NaN,649000000006,15 HENNING ROAD,SARATOGA SPRINGS,NY,12866,NaN,11/29/2018,"(43.289513, -73.454761)","15 HENNING ROAD\nSARATOGA SPRINGS, NY 12866\n(..."
2,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,Public School,104.0,No,0.0,0.0,0.0,104.0,...,hamburg central school district,141601060007,LEGION DR,HAMBURG,NY,14075,12/02/2016,11/07/2016,"(42.888143, -78.795544)","LEGION DR\nHAMBURG, NY 14075"
3,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,Public School,29.0,No,0.0,0.0,0.0,0.0,...,www.lyonscsd.org,650501040001,98 WILLIAMS ST,LYONS,NY,14489,12/03/2016,12/03/2016,"(43.144336, -77.117995)","98 WILLIAMS ST\nLYONS, NY 14489\n(43.065833, -..."
4,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,Public School,115.0,No,0.0,0.0,0.0,115.0,...,medinacsd.org,450801060002,W OAK ORCHARD ST,MEDINA,NY,14103,11/22/2016,09/28/2018,"(43.248394, -78.218438)","W OAK ORCHARD ST\nMEDINA, NY 14103"

In [75]:
elem_df

,entity_cd,entity_name,year,subject,subgroup_name,core_cohort,core_index,weighted_cohort,weighted_index,composite_level,override,override_weighted,override_core
0,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,All Students,7998,84.9,9112,74.5,1,NaN,NaN,NaN
1,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Students with Disabilities,1178,54.4,1447,44.3,2,NaN,NaN,NaN
2,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,American Indian or Alaska Native,50,70,66,53,1,NaN,NaN,NaN
3,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Asian or Native Hawaiian/Other Pacific Islander,756,106.7,767,105.1,2,NaN,NaN,NaN
4,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Black or African American,3771,63.3,4306,55.4,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40375,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,Combined,Black or African American,5,s,5,s,s,NaN,NaN,NaN
40376,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,Combined,Hispanic or Latino,34,169.1,34,169.1,4,NaN,NaN,NaN
40377,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,Combined,White,378,131.5,378,131.5,3,NaN,NaN,NaN
40378,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,Combined,Multiracial,10,s,10,s,s,NaN,NaN,NaN
40379,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,Combined,Economically Disadvantaged,272,120.2,272,120.2,3,NaN,NaN,NaN

In [76]:
elem_df[elem_df.subgroup_name == "All Students"].sort_values(by = "core_index")

,entity_cd,entity_name,year,subject,subgroup_name,core_cohort,core_index,weighted_cohort,weighted_index,composite_level,override,override_weighted,override_core
31214,512300010009,OGDENSBURG FREE ACADEMY,2018,Combined,All Students,564,100,596,94.6,2,NaN,NaN,NaN
17729,321100010567,LINDEN TREE ELEMENTARY SCHOOL,2018,Combined,All Students,377,100,377,100,2,NaN,NaN,NaN
23833,342800010008,JHS 8 RICHARD S GROSSLEY,2018,Combined,All Students,669,100.1,670,100,2,NaN,NaN,NaN
9244,261600010004,SCHOOL 4-GEORGE MATHER FORBES,2018,Combined,All Students,612,100.1,613,99.9,2,NaN,NaN,NaN
15281,320700010000,NEW YORK CITY GEOGRAPHIC DISTRICT # 7,2018,Combined,All Students,16128,100.1,16247,99.4,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11009,280215030004,4 SCHOOL,2018,Combined,All Students,2,s,2,s,s,NaN,NaN,NaN
33508,580205060020,SACHEM HIGH SCHOOL EAST,2018,Combined,All Students,6,s,6,s,s,NaN,NaN,NaN
10628,280208030005,ROOSEVELT HIGH SCHOOL,2018,Combined,All Students,6,s,9,s,s,NaN,NaN,NaN
20568,331900011660,W H MAXWELL CAREER AND TECHNICAL EDUCATION HIG...,2018,Combined,All Students,4,s,6,s,s,NaN,NaN,NaN
21341,332100011525,EDWARD R MURROW HIGH SCHOOL,2018,Combined,All Students,19,s,23,s,s,NaN,NaN,NaN

In [77]:
elem_df.composite_level.value_counts()

2    11674
s    11192
4     7333
3     7318
1     2863
Name: composite_level, dtype: int64

In [78]:
elem_df.subgroup_name.value_counts()

All Students                                       4522
Students with Disabilities                         4509
Economically Disadvantaged                         4477
White                                              4409
Hispanic or Latino                                 4370
Black or African American                          4159
Asian or Native Hawaiian/Other Pacific Islander    3969
Multiracial                                        3823
English Language Learners                          3633
American Indian or Alaska Native                   2509
Name: subgroup_name, dtype: int64

In [79]:
hs_df

,entity_cd,entity_name,year,subject,subgroup_name,composite_cohort,composite__index,composite__level,override
0,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,All Students,2152,146.5,1,NaN
1,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Students with Disabilities,284,79.1,1,NaN
2,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,American Indian or Alaska Native,12,s,s,NaN
3,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Asian or Native Hawaiian/Other Pacific Islander,200,165.6,2,NaN
4,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,Black or African American,1052,132.9,1,NaN
...,...,...,...,...,...,...,...,...,...
15990,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,All Students,164,152.4,2,NaN
15991,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,Students with Disabilities,52,70.5,2,NaN
15992,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,Hispanic or Latino,8,s,s,NaN
15993,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,White,160,152.9,2,NaN
15994,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,Economically Disadvantaged,228,142.4,2,NaN

In [80]:
dem_df

,entity_cd,entity_name,year,num_ell,per_ell,num_am_ind,per_am_ind,num_black,per_black,num_hisp,...,num_ecdis,per_ecdis,num_migrant,per_migrant,num_homeless,per_homeless,num_foster,per_foster,num_armed,per_armed
0,3000000,BROOME County,2017,487,2,74,0,2370,9,1693,...,14110,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4000000,CATTARAUGUS County,2017,23,0,776,6,241,2,330,...,7053,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5000000,CAYUGA County,2017,50,1,18,0,308,3,335,...,4609,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6000000,CHAUTAUQUA County,2017,636,3,189,1,396,2,2567,...,10442,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7000000,CHEMUNG County,2017,46,0,23,0,925,8,286,...,5967,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16565,680601060002,PENN YAN MIDDLE SCHOOL,2018,0,0,1,0,1,0,12,...,164,55,0.0,0.0,5.0,2.0,0.0,0.0,0.0,0.0
16566,680601060005,PENN YAN ELEMENTARY SCHOOL,2018,8,1,0,0,1,0,21,...,381,63,2.0,0.0,14.0,2.0,1.0,0.0,1.0,0.0
16567,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,0,0,1,0,3,0,18,...,414,65,0.0,0.0,12.0,2.0,0.0,0.0,0.0,0.0
16568,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,0,0,0,0,2,1,5,...,185,63,0.0,0.0,8.0,3.0,0.0,0.0,0.0,0.0
16569,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,0,0,1,0,1,0,13,...,229,68,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0

In [81]:
lunch_df.head()

,entity_cd,entity_name,year,num_free_lunch,per_free_lunch,num_reduced_lunch,per_reduced_lunch
0,1,NYC Public Schools,2018,670164,72,37424,4
1,2,Large Cities,2018,81038,79,1004,1
2,3,High Need/Resource Urban-Suburban Districts,2018,141728,69,8723,4
3,4,High Need/Resource Rural Districts,2018,72007,51,9301,7
4,5,Average Need Districts,2018,241901,33,35802,5

135% of poverty level - free lunch
185% of poverty level - reduced lunch

In [82]:
ins_df.head()

   group_code             group_name     entity_cd         entity_name
0           1           Total Public  111111111111  All Public Schools
1           2  County Public Schools       1000000       ALBANY County
2           2  County Public Schools       2000000     ALLEGANY County
3           2  County Public Schools       3000000       BROOME County
4           2  County Public Schools       4000000  CATTARAUGUS County

In [83]:
for a, x in zip(str_list_dfs, list_dfs):
    print (f'Dataframe {a} is {x.shape} in shape')

Dataframe lead_df is (4682, 27) in shape
Dataframe elem_df is (40380, 13) in shape
Dataframe hs_df is (15995, 9) in shape
Dataframe dem_df is (16570, 33) in shape
Dataframe lunch_df is (16570, 7) in shape
Dataframe ins_df is (5522, 4) in shape

lead_df will guide our dataframe set up since it is the limiting factor with the fewest entries. BOCES code will allow us to join the various tables together.

In [84]:
# define function that returns a dataframe with fraction and percent of missing 
# data for each column
def percent_missing (df):
    numer = df.isnull().sum() 
    denom = df.isnull().count()

    data= []
    i = 0
    for x,y in zip(numer,denom):
        data.append([numer.index[i],(Fraction(x,y)), x*100/y])
        i+=1
    
    df1 = pd.DataFrame(data,columns = ['Column_Name', 'Fraction of Missing Data','Percent'])
    return df1

# preview this function in action with our defined dataframe
percent_missing(lead_df)

                               Column_Name Fraction of Missing Data   Percent
0                          school_district                        0  0.000000
1                                   school                        0  0.000000
2                                   county                        0  0.000000
3                     type_of_organization                        0  0.000000
4                        number_of_outlets                  19/2341  0.811619
5   any_buildings_with_lead-free_plumbing?                        0  0.000000
6               previously_sampled_outlets                  19/2341  0.811619
7                 outlets_waiver_requested                  19/2341  0.811619
8                          waivers_granted                  19/2341  0.811619
9         outlets_sampled_after_regulation                  19/2341  0.811619
10                       sampling_complete                        0  0.000000
11                sampling_completion_date                  23/2341  0.982486
12      number_of_outlets,_result_≤_15_ppb                  34/2341  1.452371
13      number_of_outlets,_result_>_15_ppb                  37/2341  1.580521
14                          out_of_service                        0  0.000000
15                    all_results_received                        0  0.000000
16               date_all_results_received                  81/4682  1.730030
17                          school_website                  19/2341  0.811619
18                               beds_code                        0  0.000000
19                           school_street                   8/2341  0.341734
20                             school_city                   8/2341  0.341734
21                            school_state                   8/2341  0.341734
22                         school_zip_code                   9/2341  0.384451
23                   date_sampling_updated                  19/2341  0.811619
24                    date_results_updated                  67/4682  1.431012
25                         county_location                        0  0.000000
26                                location                        0  0.000000

In [85]:
# use above function to return dataframe containing only columns that have some missing data
def missing_data (df):
    missingdf = percent_missing(df)
    missingdf1 = missingdf[missingdf['Fraction of Missing Data'] > 0]
    print(f'{missingdf1.shape[0]} out of {missingdf.shape[0]} columns have missing data')
    return missingdf1

missing_data(lead_df)

16 out of 27 columns have missing data

                           Column_Name Fraction of Missing Data   Percent
4                    number_of_outlets                  19/2341  0.811619
6           previously_sampled_outlets                  19/2341  0.811619
7             outlets_waiver_requested                  19/2341  0.811619
8                      waivers_granted                  19/2341  0.811619
9     outlets_sampled_after_regulation                  19/2341  0.811619
11            sampling_completion_date                  23/2341  0.982486
12  number_of_outlets,_result_≤_15_ppb                  34/2341  1.452371
13  number_of_outlets,_result_>_15_ppb                  37/2341  1.580521
16           date_all_results_received                  81/4682  1.730030
17                      school_website                  19/2341  0.811619
19                       school_street                   8/2341  0.341734
20                         school_city                   8/2341  0.341734
21                        school_state                   8/2341  0.341734
22                     school_zip_code                   9/2341  0.384451
23               date_sampling_updated                  19/2341  0.811619
24                date_results_updated                  67/4682  1.431012

In [86]:
def num_col (df):
    numeric_columns = df.select_dtypes(['int64','float64']).columns
    print(f"The number of numerical columns is {len(numeric_columns)}")
    return numeric_columns

def non_num_col (df):
    non_numeric_columns = df.select_dtypes(['object']).columns
    print(f"The number of non-numerical columns is {len(non_numeric_columns)}")
    return non_numeric_columns

In [87]:
numeric_columns = num_col(lead_df)

The number of numerical columns is 7

In [88]:
non_numeric_columns = non_num_col(lead_df)

The number of non-numerical columns is 20

In [89]:
lead_df.columns

Index(['school_district', 'school', 'county', 'type_of_organization',
       'number_of_outlets', 'any_buildings_with_lead-free_plumbing?',
       'previously_sampled_outlets', 'outlets_waiver_requested',
       'waivers_granted', 'outlets_sampled_after_regulation',
       'sampling_complete', 'sampling_completion_date',
       'number_of_outlets,_result_≤_15_ppb',
       'number_of_outlets,_result_>_15_ppb', 'out_of_service',
       'all_results_received', 'date_all_results_received', 'school_website',
       'beds_code', 'school_street', 'school_city', 'school_state',
       'school_zip_code', 'date_sampling_updated', 'date_results_updated',
       'county_location', 'location'],
      dtype='object')

In [90]:
minilead_df = lead_df[[
    'beds_code',
    'school_district',
    'school',
    'county',
    'school_city',
    'school_zip_code',
    'number_of_outlets,_result_≤_15_ppb',
    'number_of_outlets,_result_>_15_ppb',
    'any_buildings_with_lead-free_plumbing?']]

In [91]:
minilead_df

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No
...,...,...,...,...,...,...,...,...,...
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No

## 4. Feature Engineering

In [92]:
# make a masterlist of all schools

In [93]:
# we want to merge beds_code from minilead_df with entity_cd from the other tables
# let's check the type of entry for these columns

minilead_df.dtypes

beds_code                                  object
school_district                            object
school                                     object
county                                     object
school_city                                object
school_zip_code                            object
number_of_outlets,_result_≤_15_ppb        float64
number_of_outlets,_result_>_15_ppb        float64
any_buildings_with_lead-free_plumbing?     object
dtype: object

In [94]:
minilead_df

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No
...,...,...,...,...,...,...,...,...,...
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No

In [95]:
# check entity_cd type in dem_df
dem_df.dtypes

entity_cd         int64
entity_name      object
year              int64
num_ell           int64
per_ell           int64
num_am_ind        int64
per_am_ind        int64
num_black         int64
per_black         int64
num_hisp          int64
per_hisp          int64
num_asian         int64
per_asian         int64
num_white         int64
per_white         int64
num_multi         int64
per_multi         int64
num_swd           int64
per_swd           int64
num_female        int64
per_female        int64
num_male          int64
per_male          int64
num_ecdis         int64
per_ecdis         int64
num_migrant     float64
per_migrant     float64
num_homeless    float64
per_homeless    float64
num_foster      float64
per_foster      float64
num_armed       float64
per_armed       float64
dtype: object

In [96]:
# to merge, we need these columns to be the same type. It's easier to make the integers 
# into strings since our beds_code has some strings that aren't strictly numbers.

dem_df1 = dem_df.copy()
dem_df1 = dem_df1[dem_df1['year'] == 2018]
dem_df1['entity_cd'] = dem_df1['entity_cd'].apply(str)

In [97]:
# let's verify the change
dem_df1.dtypes

entity_cd        object
entity_name      object
year              int64
num_ell           int64
per_ell           int64
num_am_ind        int64
per_am_ind        int64
num_black         int64
per_black         int64
num_hisp          int64
per_hisp          int64
num_asian         int64
per_asian         int64
num_white         int64
per_white         int64
num_multi         int64
per_multi         int64
num_swd           int64
per_swd           int64
num_female        int64
per_female        int64
num_male          int64
per_male          int64
num_ecdis         int64
per_ecdis         int64
num_migrant     float64
per_migrant     float64
num_homeless    float64
per_homeless    float64
num_foster      float64
per_foster      float64
num_armed       float64
per_armed       float64
dtype: object

In [98]:
# verify how the dataframe looks
dem_df1

,entity_cd,entity_name,year,num_ell,per_ell,num_am_ind,per_am_ind,num_black,per_black,num_hisp,...,num_ecdis,per_ecdis,num_migrant,per_migrant,num_homeless,per_homeless,num_foster,per_foster,num_armed,per_armed
11055,1,NYC Public Schools,2018,142556,15,9994,1,214312,23,383293,...,707879,76,0.0,0.0,88268.0,9.0,0.0,0.0,440.0,0.0
11056,2,Large Cities,2018,16421,16,540,1,43641,43,30892,...,86527,85,78.0,0.0,3693.0,4.0,65.0,0.0,7.0,0.0
11057,3,High Need/Resource Urban-Suburban Districts,2018,34135,17,622,0,49593,24,83512,...,160517,78,178.0,0.0,9643.0,5.0,473.0,0.0,564.0,0.0
11058,4,High Need/Resource Rural Districts,2018,1944,1,2333,2,4617,3,10357,...,86074,61,715.0,1.0,2733.0,2.0,472.0,0.0,3770.0,3.0
11059,480101060000,MAHOPAC CENTRAL SCHOOL DISTRICT,2018,134,3,3,0,68,2,785,...,745,18,0.0,0.0,21.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16565,680601060002,PENN YAN MIDDLE SCHOOL,2018,0,0,1,0,1,0,12,...,164,55,0.0,0.0,5.0,2.0,0.0,0.0,0.0,0.0
16566,680601060005,PENN YAN ELEMENTARY SCHOOL,2018,8,1,0,0,1,0,21,...,381,63,2.0,0.0,14.0,2.0,1.0,0.0,1.0,0.0
16567,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,0,0,1,0,3,0,18,...,414,65,0.0,0.0,12.0,2.0,0.0,0.0,0.0,0.0
16568,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,0,0,0,0,2,1,5,...,185,63,0.0,0.0,8.0,3.0,0.0,0.0,0.0,0.0
16569,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,0,0,1,0,1,0,13,...,229,68,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0

In [100]:
dem_df1.columns

Index(['entity_cd', 'entity_name', 'year', 'num_ell', 'per_ell', 'num_am_ind',
       'per_am_ind', 'num_black', 'per_black', 'num_hisp', 'per_hisp',
       'num_asian', 'per_asian', 'num_white', 'per_white', 'num_multi',
       'per_multi', 'num_swd', 'per_swd', 'num_female', 'per_female',
       'num_male', 'per_male', 'num_ecdis', 'per_ecdis', 'num_migrant',
       'per_migrant', 'num_homeless', 'per_homeless', 'num_foster',
       'per_foster', 'num_armed', 'per_armed'],
      dtype='object')

correlation matrix

In [101]:
# merge minilead_df with dem_df1 on the BOCES code.
comp_df = pd.merge(
    minilead_df, 
    dem_df1, 
    left_on='beds_code', 
    right_on='entity_cd',
    how = 'inner')


# look into why half the records fall out

In [102]:
# let's see how it looks
comp_df

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?,entity_cd,...,num_ecdis,per_ecdis,num_migrant,per_migrant,num_homeless,per_homeless,num_foster,per_foster,num_armed,per_armed
0,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No,141601060007,...,249,22,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0
1,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No,650501040001,...,352,70,6.0,1.0,23.0,5.0,0.0,0.0,0.0,0.0
2,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No,450801060002,...,268,64,13.0,3.0,5.0,1.0,6.0,1.0,0.0,0.0
3,411501060004,NEW HARTFORD CENTRAL SCHOOL,BRADLEY ELEMENTARY SCHOOL,Oneida,NEW HARTFORD,13413,97.0,0.0,No,411501060004,...,65,14,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,141101060002,SPRINGVILLE-GRIFF INST CENTRAL SCHOOL,COLDEN ES,Erie,COLDEN,14033,55.0,6.0,No,141101060002,...,68,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477,660409020001,ELMSFORD UNION FREE SCHOOL,CARL L DIXSON ELEM SCHOOL,Westchester,ELMSFORD,10523,10.0,0.0,No,660409020001,...,74,50,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0
2478,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No,130801060002,...,131,44,0.0,0.0,3.0,1.0,1.0,0.0,2.0,1.0
2479,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No,280405020004,...,33,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2480,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No,580224030011,...,400,57,0.0,0.0,8.0,1.0,0.0,0.0,0.0,0.0
2481,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No,580912060001,...,345,19,0.0,0.0,22.0,1.0,1.0,0.0,0.0,0.0

In [103]:
allelem_df = elem_df[elem_df['subgroup_name']=='All Students']
allelem_df1 = allelem_df.copy()
allelem_df1 = allelem_df1[allelem_df1['year'] == 2018]
allelem_df1['entity_cd'] = allelem_df1['entity_cd'].apply(str)
allelem_df1

,entity_cd,entity_name,year,subject,subgroup_name,core_cohort,core_index,weighted_cohort,weighted_index,composite_level,override,override_weighted,override_core
0,10100010000,ALBANY CITY SCHOOL DISTRICT,2018,Combined,All Students,7998,84.9,9112,74.5,1,NaN,NaN,NaN
10,10100010014,MONTESSORI MAGNET SCHOOL,2018,Combined,All Students,263,166.2,307,142.3,3,NaN,NaN,NaN
20,10100010016,PINE HILLS ELEMENTARY SCHOOL,2018,Combined,All Students,403,109.2,403,109.2,2,NaN,NaN,NaN
30,10100010018,DELAWARE COMMUNITY SCHOOL,2018,Combined,All Students,429,81.5,445,78.5,1,NaN,NaN,NaN
40,10100010019,NEW SCOTLAND ELEMENTARY SCHOOL,2018,Combined,All Students,482,129.1,558,111.6,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40336,680601060002,PENN YAN MIDDLE SCHOOL,2018,Combined,All Students,555,136.6,663,114.3,2,NaN,NaN,NaN
40346,680601060005,PENN YAN ELEMENTARY SCHOOL,2018,Combined,All Students,620,144.3,640,139.8,3,NaN,NaN,NaN
40355,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,Combined,All Students,608,124.9,612,124.1,2,NaN,NaN,NaN
40364,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,Combined,All Students,198,111.6,213,103.8,2,NaN,NaN,NaN
40372,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,Combined,All Students,406,132.4,406,132.4,3,NaN,NaN,NaN

In [104]:
allelem_df1.composite_level.value_counts()

2    1753
3    1104
4    1100
1     428
s     137
Name: composite_level, dtype: int64

In [105]:
allhs_df = hs_df[hs_df['subgroup_name']=='All Students']
allhs_df1 = allhs_df.copy()
allhs_df1 = allhs_df1[allhs_df1['year'] == 2018]
allhs_df1['entity_cd'] = allhs_df1['entity_cd'].apply(str)

In [106]:
allhs_df1.composite__level.value_counts()

2    773
4    483
3    483
1    181
s     23
Name: composite__level, dtype: int64

In [107]:
allhs_df1.dtypes

entity_cd           object
entity_name         object
year                 int64
subject             object
subgroup_name       object
composite_cohort    object
composite__index    object
composite__level    object
override            object
dtype: object

In [108]:
allelem_df1.dtypes

entity_cd            object
entity_name          object
year                  int64
subject              object
subgroup_name        object
core_cohort          object
core_index           object
weighted_cohort      object
weighted_index       object
composite_level      object
override             object
override_weighted    object
override_core        object
dtype: object

In [109]:
allhs_df1.rename(columns={'composite_cohort':'core_cohort',
                          'composite__index':'core_index',
                          'composite__level':'composite_level'}, inplace=True)

In [110]:
# proof by inspection
allhs_df1.dtypes

entity_cd          object
entity_name        object
year                int64
subject            object
subgroup_name      object
core_cohort        object
core_index         object
composite_level    object
override           object
dtype: object

In [111]:
allelem_df1.dtypes

entity_cd            object
entity_name          object
year                  int64
subject              object
subgroup_name        object
core_cohort          object
core_index           object
weighted_cohort      object
weighted_index       object
composite_level      object
override             object
override_weighted    object
override_core        object
dtype: object

In [259]:
allschools_df = pd.concat([allhs_df1, allelem_df1], ignore_index=True)
allschools_df

,composite_cohort,composite_index,composite_level,core_cohort,core_index,entity_cd,entity_name,override,override_core,override_weighted,subgroup_name,subject,weighted_cohort,weighted_index,year
0,2152,146.5,1,NaN,NaN,10100010000,ALBANY CITY SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
1,232,158.4,2,NaN,NaN,10100860960,ALBANY LEADERSHIP CHARTER HIGH SCHOOL FOR GIRLS,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
2,300,185.5,3,NaN,NaN,10201040000,BERNE-KNOX-WESTERLO CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
3,2112,147.9,2,NaN,NaN,10100010034,ALBANY HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
4,188,161.1,2,NaN,NaN,10100860907,GREEN TECH HIGH CHARTER SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
5,536,170.9,2,NaN,NaN,10402060000,RAVENA-COEYMANS-SELKIRK CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
6,292,187.1,3,NaN,NaN,10201040001,BERNE-KNOX-WESTERLO JUNIOR-SENIOR HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
7,1668,214.4,4,NaN,NaN,10306060000,BETHLEHEM CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
8,1644,216.5,4,NaN,NaN,10306060008,BETHLEHEM CENTRAL SENIOR HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
9,520,173.1,3,NaN,NaN,10402060001,RAVENA-COEYMANS-SELKIRK SENIOR HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
10,436,149.3,1,NaN,NaN,10500010000,COHOES CITY SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
11,332,154.3,1,NaN,NaN,11200010000,WATERVLIET CITY SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
12,320,153.9,2,NaN,NaN,11200010010,WATERVLIET JUNIOR-SENIOR HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
13,420,149.2,2,NaN,NaN,10500010007,COHOES HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
14,1600,184.2,3,NaN,NaN,10601060000,SOUTH COLONIE CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
15,1584,185.4,3,NaN,NaN,10601060008,COLONIE CENTRAL HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
16,2040,210.2,4,NaN,NaN,10623060000,NORTH COLONIE CSD,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
17,2032,210.7,4,NaN,NaN,10623060010,SHAKER HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
18,120,152.4,1,NaN,NaN,10701030000,GREEN ISLAND UNION FREE SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
19,112,157.4,2,NaN,NaN,10701030001,HEATLY SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
20,1640,206,4,NaN,NaN,10802060000,GUILDERLAND CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
21,1604,208,4,NaN,NaN,10802060005,GUILDERLAND HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
22,424,206.7,4,NaN,NaN,11003060000,VOORHEESVILLE CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
23,412,209.8,4,NaN,NaN,11003060002,CLAYTON A BOUTON HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
24,124,178.1,2,NaN,NaN,21102040000,CANASERAGA CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
25,116,183.3,3,NaN,NaN,21102040001,CANASERAGA SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
26,188,187.7,3,NaN,NaN,21601040000,FRIENDSHIP CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
27,168,200.5,4,NaN,NaN,21601040004,FRIENDSHIP CENTRAL SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
28,192,187,3,NaN,NaN,22001040000,FILLMORE CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
29,172,196.4,4,NaN,NaN,22001040001,FILLMORE CENTRAL SCHOOL,NaN,NaN,NaN,All Students,Combined,NaN,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6435,NaN,NaN,4,397,186,662401060003,GEORGE WASHINGTON ELEMENTARY SCHOOL,NaN,NaN,NaN,All Students,Combined,472,156.5,2018
6436,NaN,NaN,4,375,186.7,662401060004,LINCOLN TITUS ELEMENTARY SCHOOL,NaN,NaN,NaN,All Students,Combined,458,152.8,2018
6437,NaN,NaN,3,555,168.7,662401060005,VAN CORTLANDTVILLE SCHOOL,NaN,NaN,NaN,All Students,Combined,653,143.4,2018
6438,NaN,NaN,3,1827,164,662401060008,LAKELAND-COPPER BEECH MIDDLE SCHOOL,NaN,NaN,NaN,All Students,Combined,2960,101.2,2018
6439,NaN,NaN,4,450,180.6,662401060009,BENJAMIN FRANKLIN ELEMENTARY SCHOOL,NaN,NaN,NaN,All Students,Combined,616,131.9,2018
6440,NaN,NaN,4,2925,165.1,662402060000,YORKTOWN CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,3488,138.5,2018
6441,NaN,NaN,3,1421,163.4,662402060002,MILDRED E STRANG MIDDLE SCHOOL,NaN,NaN,NaN,All Students,Combined,1799,129,2018
6442,NaN,NaN,4,179,170.7,662402060003,BROOKSIDE SCHOOL,NaN,NaN,NaN,All Students,Combined,194,157.5,2018
6443,NaN,NaN,4,1084,171,662402060004,CROMPOND SCHOOL,NaN,NaN,NaN,All Students,Combined,1222,151.7,2018
6444,NaN,NaN,3,213,150.9,662402060005,MOHANSIC SCHOOL,NaN,NaN,NaN,All Students,Combined,240,134,2018
6445,NaN,NaN,3,1144,141.3,670201060000,ATTICA CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,1198,135,2018
6446,NaN,NaN,4,380,158.6,670201060002,ATTICA ELEMENTARY SCHOOL,NaN,NaN,NaN,All Students,Combined,380,158.6,2018
6447,NaN,NaN,2,751,133.2,670201060004,ATTICA JUNIOR HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,800,125.1,2018
6448,NaN,NaN,4,900,142.2,670401040000,LETCHWORTH CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,907,141.1,2018
6449,NaN,NaN,4,336,157.9,670401040002,LETCHWORTH ELEMENTARY SCHOOL,NaN,NaN,NaN,All Students,Combined,336,157.9,2018
6450,NaN,NaN,2,557,134.2,670401040003,LETCHWORTH MIDDLE SCHOOL,NaN,NaN,NaN,All Students,Combined,572,130.7,2018
6451,NaN,NaN,4,189,151.3,671002040000,WYOMING CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,189,151.3,2018
6452,NaN,NaN,3,187,152.4,671002040001,WYOMING CENTRAL SCHOOL,NaN,NaN,NaN,All Students,Combined,187,152.4,2018
6453,NaN,NaN,4,714,147,671201060000,PERRY CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,755,139,2018
6454,NaN,NaN,3,449,141.1,671201060001,PERRY ELEMENTARY SCHOOL,NaN,NaN,NaN,All Students,Combined,469,135.1,2018
6455,NaN,NaN,3,255,160,671201060002,PERRY JUNIOR-SENIOR HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,268,152.2,2018
6456,NaN,NaN,3,704,142.7,671501040000,WARSAW CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,818,122.8,2018
6457,NaN,NaN,3,352,150.3,671501040001,WARSAW ELEMENTARY SCHOOL,NaN,NaN,NaN,All Students,Combined,372,142.2,2018
6458,NaN,NaN,2,350,135.3,671501040002,WARSAW MIDDLE/SENIOR HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,439,107.9,2018
6459,NaN,NaN,3,1204,139.6,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,1332,126.2,2018
6460,NaN,NaN,2,555,136.6,680601060002,PENN YAN MIDDLE SCHOOL,NaN,NaN,NaN,All Students,Combined,663,114.3,2018
6461,NaN,NaN,3,620,144.3,680601060005,PENN YAN ELEMENTARY SCHOOL,NaN,NaN,NaN,All Students,Combined,640,139.8,2018
6462,NaN,NaN,2,608,124.9,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,NaN,NaN,NaN,All Students,Combined,612,124.1,2018
6463,NaN,NaN,2,198,111.6,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,NaN,NaN,NaN,All Students,Combined,213,103.8,2018
6464,NaN,NaN,3,406,132.4,680801040002,DUNDEE ELEMENTARY SCHOOL,NaN,NaN,NaN,All Students,Combined,406,132.4,2018

In [183]:
# merge comp_df with allelem_df1 on the BOCES code.
comp_df1 = pd.merge(
    comp_df, 
    allelem_df1, 
    left_on='beds_code', 
    right_on='entity_cd',
    how = 'left')
comp_df1

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?,entity_cd_x,...,subject,subgroup_name,core_cohort,core_index,weighted_cohort,weighted_index,composite_level,override,override_weighted,override_core
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No,141601060007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No,650501040001,...,Combined,All Students,607,79,611,78.5,1,NaN,NaN,NaN
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No,450801060002,...,Combined,All Students,198,118.4,207,113.3,2,NaN,NaN,NaN
5,411501060004,NEW HARTFORD CENTRAL SCHOOL,BRADLEY ELEMENTARY SCHOOL,Oneida,NEW HARTFORD,13413,97.0,0.0,No,411501060004,...,Combined,All Students,368,187.8,601,115,3,NaN,NaN,NaN
6,141101060002,SPRINGVILLE-GRIFF INST CENTRAL SCHOOL,COLDEN ES,Erie,COLDEN,14033,55.0,6.0,No,141101060002,...,Combined,All Students,204,149.5,252,121,3,NaN,NaN,NaN
7,200901040001,WELLS CENTRAL SCHOOL,WELLS SCHOOL,Hamilton,WELLS,12190,44.0,11.0,No,200901040001,...,Combined,All Students,144,138.9,144,138.9,3,NaN,NaN,NaN
8,X085,NYC DOE,X085,Bronx,Bronx,10458,78.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,600301040002,CANDOR CENTRAL SCHOOL,CANDOR J S H S,Tioga,CANDOR,13743,116.0,0.0,No,600301040002,...,Combined,All Students,250,105.8,295,89.7,2,NaN,NaN,NaN
10,060800010007,DUNKIRK CITY SCHOOL DISTRICT,SCHOOL 7,Chautauqua,DUNKIRK,14048,28.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,131601060015,ARLINGTON CENTRAL SCHOOL DISTRICT,UNION VALE MIDDLE SCHOOL,Dutchess,LAGRANGEVILLE,12540,150.0,45.0,No,131601060015,...,Combined,All Students,1335,147.2,2316,84.8,2,NaN,NaN,NaN
12,X067,NYC DOE,X967,Bronx,Bronx,10460,4.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"M157,M341,M481",NYC DOE,M501,New York,Manhattan,10035,101.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,660203060007,HENDRICK HUDSON CENTRAL SCHOOL,BLUE MOUNTAIN MIDDLE SCHOOL,Westchester,CORTLANDT MANOR,10567,31.0,2.0,No,660203060007,...,Combined,All Students,977,159.9,1216,128.5,3,NaN,NaN,NaN
15,580212060001,LONGWOOD CENTRAL SCHOOL DISTRICT,C E WALTERS SCHOOL,Suffolk,YAPHANK,11980,202.0,1.0,No,580212060001,...,Combined,All Students,426,141.4,739,81.5,2,NaN,NaN,NaN
16,590501060003,FALLSBURGH CENTRAL SCHOOL,BENJAMIN COSOR ELEM SCHOOL,Sullivan,FALLSBURGH,12733,117.0,2.0,No,590501060003,...,Combined,All Students,820,96.9,909,87.4,2,NaN,NaN,NaN
17,No School,NYC DOE,K813,Kings,Brooklyn,11238,14.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,K768,NYC DOE,K664,Kings,Brooklyn,11220,47.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,261600010044,ROCHESTER CITY SCHOOLS,SCHOOL 44 LINCOLN PARK,Monroe,ROCHESTER,14611,41.0,2.0,No,261600010044,...,Combined,All Students,232,62.1,232,62.1,1,NaN,NaN,NaN
20,060201060006,SOUTH WESTERN CENTRAL SCHALMONT-JAMESTOWN SCHO...,SOUTHWESTERN MS,Chautauqua,JAMESTOWN,14701,49.0,10.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,670401040002,LETCHWORTH CENT SCH AT GAINESVILLE,LETCHWORTH ES,Wyoming,GAINESVILLE,14427,33.0,7.0,No,670401040002,...,Combined,All Students,336,157.9,336,157.9,4,NaN,NaN,NaN
22,660101030006,KATONAH LEWISBORO U F S,MEADOW POND ELEM SCHOOL,Westchester,SOUTH SALEM,10590,44.0,0.0,No,660101030006,...,Combined,All Students,361,203.9,378,194.7,4,NaN,NaN,NaN
23,600801040001,SPENCER VAN ETTEN CENTRAL SCHOOL,SPENCER VAN ETTEN MIDDLE SCHOOL,Tioga,SPENCER,14883,81.0,2.0,No,600801040001,...,Combined,All Students,600,135.4,600,135.4,3,NaN,NaN,NaN
24,K325,NYC DOE,K260,Kings,Brooklyn,11207,108.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,580507060011,CONNETQUOT CENT SCH OF ISLIP,OAKDALE-BOHEMIA RD MIDDLE SCHOOL,Suffolk,OAKDALE,11769,47.0,0.0,No,580507060011,...,Combined,All Students,410,171.2,1424,49.3,3,NaN,NaN,NaN
26,420701060002,WESTHILL CENTRAL SCHOOL,CHERRY ROAD ELEM SCHOOL,Onondaga,SYRACUSE,13219,95.0,9.0,No,420701060002,...,Combined,All Students,498,159.8,567,140.4,3,NaN,NaN,NaN
27,440102060003,WASHINGTONVILLE CENTRAL SCHOOL,WASHINGTONVILLE S H S,Orange,WASHINGTONVILLE,10992,122.0,149.0,No,440102060003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,580205060002,SACHEM CENT SCH AT HOLBROOK,GRUNDY AVENUE SCHOOL,Suffolk,HOLBROOK,11741,50.0,0.0,No,580205060002,...,Combined,All Students,193,161.9,648,48.2,2,NaN,NaN,NaN
29,661100010002,NEW ROCHELLE CITY SCHOOLS,COLUMBUS ELEM SCHOOL,Westchester,NEW ROCHELLE,10801,95.0,8.0,No,661100010002,...,Combined,All Students,486,129.5,858,73.4,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4652,140600010019,BUFFALO CITY SCHOOLS,PS 19 NATIVE AMERICAN MAGNET SCHOOL,Erie,BUFFALO,14213,46.0,3.0,No,140600010019,...,Combined,All Students,655,81.9,713,75.2,1,NaN,NaN,NaN
4653,061700010009,JAMESTOWN CITY SCHOOL DISTRICT,SAMUEL G. LOVE ES,Chautauqua,JAMESTOWN,14701,70.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4654,M265,NYC DOE,M387,New York,Manhattan,10040,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4655,"K404,K422,K053",NYC DOE,K422,Kings,Brooklyn,11208,157.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4656,510101040001,BRASHER FALLS CENT SCH DIST,ST LAWRENCE MIDDLE SCHOOL,Saint Lawrence,BRASHER FALLS,13613,20.0,0.0,No,510101040001,...,Combined,All Students,581,130,615,122.8,2,NaN,NaN,NaN
4657,440401060009,PINE BUSH CENTRAL SCHOOL,PINE BUSH ELEMENTARY SCHOOL,Orange,PINE BUSH,12566,111.0,1.0,No,440401060009,...,Combined,All Students,642,135,730,118.8,2,NaN,NaN,NaN
4658,619000000011,BOCES No District Name,TOMPKINS-SENECA-TIOGA BOCES BUILDING D REGIONA...,Tompkins,ITHACA,14850,18.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4659,220101040004,SOUTH JEFFERSON CENTRAL SCHOOL,MANNSVILLE MANOR ELEM SCHOOL,Jefferson,ADAMS,13605,146.0,1.0,No,220101040004,...,Combined,All Students,382,148.3,384,147.5,3,NaN,NaN,NaN
4660,120701040001,FRANKLIN CENTRAL SCHOOL DISTRICT,FRANKLIN CENTRAL SCHOOL,Delaware,FRANKLIN,13775,36.0,11.0,No,120701040001,...,Combined,All Students,242,140.9,292,116.8,2,NaN,NaN,NaN
4661,489000000004,BOCES No District Name,PUTNAM-NORTHERN WESTCHESTER BOCES - Pines Brid...,Putnam,Yorktown Heights,10598,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4662,Q081,NYC DOE,Q081,Queens,Queens,11385,73.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4663,101001040006,CHATHAM CENTRAL SCHOOL DISTRICT,CHATHAM MS,Columbia,CHATHAM,12037,85.0,0.0,No,101001040006,...,Combined,All Students,436,139.1,552,109.9,2,NaN,NaN,NaN
4664,049000000003,BOCES No District Name,CATTARAUGUS-ALLEGANY-ERIE-WYOMING BOCES HAYNES...,Cattaraugus,BELMONT,14813,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4665,151001040001,NEWCOMB CENTRAL SCHOOL,NEWCOMB CENTRAL SCHOOL,Essex,NEWCOMB,NY,48.0,3.0,No,151001040001,...,Combined,All Students,76,129.6,135,73,2,NaN,NaN,NaN
4666,"M194,M709",NYC DOE,M194,New York,Manhattan,10030,45.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4667,"M397,M094",NYC DOE,M971,New York,Manhattan,10038,141.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668,280211030004,OCEANSIDE UNION FREE SCHOOL,SCHOOL 4,Nassau,OCEANSIDE,11572,21.0,0.0,No,280211030004,...,Combined,All Students,275,185.8,470,108.7,3,NaN,NaN,NaN
4669,610301060001,DRYDEN CENTRAL SCHOOL,DRYDEN ELEMENTARY SCHOOL,Tompkins,DRYDEN,13053,114.0,0.0,No,610301060001,...,Combined,All Students,610,131.5,623,128.7,2,NaN,NaN,NaN
4670,062901040004,WESTFIELD CENTRAL SCHOOL DISTRICT,WESTFIELD MS,Chautauqua,WESTFIELD,14787,20.0,3.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4671,"X045,X046",NYC DOE,X045,Bronx,Bronx,10458,116.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4672,240101040003,AVON CENTRAL SCHOOL DISTRICT,AVON MIDDLE SCHOOL,Livingston,AVON,14414,16.0,0.0,No,240101040003,...,Combined,All Students,532,143.1,690,110.4,2,NaN,NaN,NaN
4673,151501060007,TICONDEROGA CENTRAL SCHOOL,TICONDEROGA MIDDLE SCHOOL,Essex,TICONDEROGA,12883,34.0,6.0,No,151501060007,...,Combined,All Students,427,123.9,427,123.9,2,NaN,NaN,NaN
4674,"K267,K648,K649",NYC DOE,K324,Kings,Brooklyn,11221,65.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4675,521800010012,SARATOGA SPRINGS CITY SCHOOLS,LAKE AVENUE SCHOOL,Saratoga,SARATOGA SPRINGS,12866,93.0,9.0,No,521800010012,...,Combined,All Students,468,201.7,472,200,4,NaN,NaN,NaN
4676,660409020001,ELMSFORD UNION FREE SCHOOL,CARL L DIXSON ELEM SCHOOL,Westchester,ELMSFORD,10523,10.0,0.0,No,660409020001,...,Combined,All Students,72,102.1,72,102.1,2,NaN,NaN,NaN
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No,130801060002,...,Combined,All Students,276,151.3,333,125.4,3,NaN,NaN,NaN
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No,280405020004,...,Combined,All Students,342,199.1,446,152.7,4,NaN,NaN,NaN
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No,580224030011,...,Combined,All Students,251,128.1,1518,21.2,2,NaN,NaN,NaN
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No,580912060001,...,Combined,All Students,746,152.4,1268,89.7,2,NaN,NaN,NaN
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
# merge comp_df1 with allhs_df1 on the BOCES code.
comp_df2 = pd.merge(
    comp_df1, 
    allhs_df1, 
    left_on='beds_code', 
    right_on='entity_cd',
    how = 'left')
comp_df2

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?,entity_cd_x,...,override_core,entity_cd,entity_name,year,subject_y,subgroup_name_y,composite_cohort,composite__index,composite__level,override_y
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No,141601060007,...,NaN,141601060007,HAMBURG HIGH SCHOOL,2018.0,Combined,All Students,1068,212.7,4,NaN
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No,650501040001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No,450801060002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,411501060004,NEW HARTFORD CENTRAL SCHOOL,BRADLEY ELEMENTARY SCHOOL,Oneida,NEW HARTFORD,13413,97.0,0.0,No,411501060004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,141101060002,SPRINGVILLE-GRIFF INST CENTRAL SCHOOL,COLDEN ES,Erie,COLDEN,14033,55.0,6.0,No,141101060002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,200901040001,WELLS CENTRAL SCHOOL,WELLS SCHOOL,Hamilton,WELLS,12190,44.0,11.0,No,200901040001,...,NaN,200901040001,WELLS SCHOOL,2018.0,Combined,All Students,112,171.6,2,NaN
8,X085,NYC DOE,X085,Bronx,Bronx,10458,78.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,600301040002,CANDOR CENTRAL SCHOOL,CANDOR J S H S,Tioga,CANDOR,13743,116.0,0.0,No,600301040002,...,NaN,600301040002,CANDOR JUNIOR-SENIOR HIGH SCHOOL,2018.0,Combined,All Students,176,154.7,2,NaN
10,060800010007,DUNKIRK CITY SCHOOL DISTRICT,SCHOOL 7,Chautauqua,DUNKIRK,14048,28.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,131601060015,ARLINGTON CENTRAL SCHOOL DISTRICT,UNION VALE MIDDLE SCHOOL,Dutchess,LAGRANGEVILLE,12540,150.0,45.0,No,131601060015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,X067,NYC DOE,X967,Bronx,Bronx,10460,4.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"M157,M341,M481",NYC DOE,M501,New York,Manhattan,10035,101.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,660203060007,HENDRICK HUDSON CENTRAL SCHOOL,BLUE MOUNTAIN MIDDLE SCHOOL,Westchester,CORTLANDT MANOR,10567,31.0,2.0,No,660203060007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,580212060001,LONGWOOD CENTRAL SCHOOL DISTRICT,C E WALTERS SCHOOL,Suffolk,YAPHANK,11980,202.0,1.0,No,580212060001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,590501060003,FALLSBURGH CENTRAL SCHOOL,BENJAMIN COSOR ELEM SCHOOL,Sullivan,FALLSBURGH,12733,117.0,2.0,No,590501060003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,No School,NYC DOE,K813,Kings,Brooklyn,11238,14.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,K768,NYC DOE,K664,Kings,Brooklyn,11220,47.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,261600010044,ROCHESTER CITY SCHOOLS,SCHOOL 44 LINCOLN PARK,Monroe,ROCHESTER,14611,41.0,2.0,No,261600010044,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,060201060006,SOUTH WESTERN CENTRAL SCHALMONT-JAMESTOWN SCHO...,SOUTHWESTERN MS,Chautauqua,JAMESTOWN,14701,49.0,10.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,670401040002,LETCHWORTH CENT SCH AT GAINESVILLE,LETCHWORTH ES,Wyoming,GAINESVILLE,14427,33.0,7.0,No,670401040002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,660101030006,KATONAH LEWISBORO U F S,MEADOW POND ELEM SCHOOL,Westchester,SOUTH SALEM,10590,44.0,0.0,No,660101030006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,600801040001,SPENCER VAN ETTEN CENTRAL SCHOOL,SPENCER VAN ETTEN MIDDLE SCHOOL,Tioga,SPENCER,14883,81.0,2.0,No,600801040001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,K325,NYC DOE,K260,Kings,Brooklyn,11207,108.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,580507060011,CONNETQUOT CENT SCH OF ISLIP,OAKDALE-BOHEMIA RD MIDDLE SCHOOL,Suffolk,OAKDALE,11769,47.0,0.0,No,580507060011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,420701060002,WESTHILL CENTRAL SCHOOL,CHERRY ROAD ELEM SCHOOL,Onondaga,SYRACUSE,13219,95.0,9.0,No,420701060002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,440102060003,WASHINGTONVILLE CENTRAL SCHOOL,WASHINGTONVILLE S H S,Orange,WASHINGTONVILLE,10992,122.0,149.0,No,440102060003,...,NaN,440102060003,WASHINGTONVILLE SENIOR HIGH SCHOOL,2018.0,Combined,All Students,1284,179.3,3,NaN
28,580205060002,SACHEM CENT SCH AT HOLBROOK,GRUNDY AVENUE SCHOOL,Suffolk,HOLBROOK,11741,50.0,0.0,No,580205060002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,661100010002,NEW ROCHELLE CITY SCHOOLS,COLUMBUS ELEM SCHOOL,Westchester,NEW ROCHELLE,10801,95.0,8.0,No,661100010002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4652,140600010019,BUFFALO CITY SCHOOLS,PS 19 NATIVE AMERICAN MAGNET SCHOOL,Erie,BUFFALO,14213,46.0,3.0,No,140600010019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4653,061700010009,JAMESTOWN CITY SCHOOL DISTRICT,SAMUEL G. LOVE ES,Chautauqua,JAMESTOWN,14701,70.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4654,M265,NYC DOE,M387,New York,Manhattan,10040,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4655,"K404,K422,K053",NYC DOE,K422,Kings,Brooklyn,11208,157.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4656,510101040001,BRASHER FALLS CENT SCH DIST,ST LAWRENCE MIDDLE SCHOOL,Saint Lawrence,BRASHER FALLS,13613,20.0,0.0,No,510101040001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4657,440401060009,PINE BUSH CENTRAL SCHOOL,PINE BUSH ELEMENTARY SCHOOL,Orange,PINE BUSH,12566,111.0,1.0,No,440401060009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4658,619000000011,BOCES No District Name,TOMPKINS-SENECA-TIOGA BOCES BUILDING D REGIONA...,Tompkins,ITHACA,14850,18.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4659,220101040004,SOUTH JEFFERSON CENTRAL SCHOOL,MANNSVILLE MANOR ELEM SCHOOL,Jefferson,ADAMS,13605,146.0,1.0,No,220101040004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4660,120701040001,FRANKLIN CENTRAL SCHOOL DISTRICT,FRANKLIN CENTRAL SCHOOL,Delaware,FRANKLIN,13775,36.0,11.0,No,120701040001,...,NaN,120701040001,FRANKLIN CENTRAL SCHOOL,2018.0,Combined,All Students,176,189.4,3,NaN
4661,489000000004,BOCES No District Name,PUTNAM-NORTHERN WESTCHESTER BOCES - Pines Brid...,Putnam,Yorktown Heights,10598,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4662,Q081,NYC DOE,Q081,Queens,Queens,11385,73.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4663,101001040006,CHATHAM CENTRAL SCHOOL DISTRICT,CHATHAM MS,Columbia,CHATHAM,12037,85.0,0.0,No,101001040006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4664,049000000003,BOCES No District Name,CATTARAUGUS-ALLEGANY-ERIE-WYOMING BOCES HAYNES...,Cattaraugus,BELMONT,14813,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4665,151001040001,NEWCOMB CENTRAL SCHOOL,NEWCOMB CENTRAL SCHOOL,Essex,NEWCOMB,NY,48.0,3.0,No,151001040001,...,NaN,151001040001,NEWCOMB CENTRAL SCHOOL,2018.0,Combined,All Students,48,206,4,NaN
4666,"M194,M709",NYC DOE,M194,New York,Manhattan,10030,45.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4667,"M397,M094",NYC DOE,M971,New York,Manhattan,10038,141.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668,280211030004,OCEANSIDE UNION FREE SCHOOL,SCHOOL 4,Nassau,OCEANSIDE,11572,21.0,0.0,No,280211030004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4669,610301060001,DRYDEN CENTRAL SCHOOL,DRYDEN ELEMENTARY SCHOOL,Tompkins,DRYDEN,13053,114.0,0.0,No,610301060001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4670,062901040004,WESTFIELD CENTRAL SCHOOL DISTRICT,WESTFIELD MS,Chautauqua,WESTFIELD,14787,20.0,3.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4671,"X045,X046",NYC DOE,X045,Bronx,Bronx,10458,116.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4672,240101040003,AVON CENTRAL SCHOOL DISTRICT,AVON MIDDLE SCHOOL,Livingston,AVON,14414,16.0,0.0,No,240101040003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4673,151501060007,TICONDEROGA CENTRAL SCHOOL,TICONDEROGA MIDDLE SCHOOL,Essex,TICONDEROGA,12883,34.0,6.0,No,151501060007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4674,"K267,K648,K649",NYC DOE,K324,Kings,Brooklyn,11221,65.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4675,521800010012,SARATOGA SPRINGS CITY SCHOOLS,LAKE AVENUE SCHOOL,Saratoga,SARATOGA SPRINGS,12866,93.0,9.0,No,521800010012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4676,660409020001,ELMSFORD UNION FREE SCHOOL,CARL L DIXSON ELEM SCHOOL,Westchester,ELMSFORD,10523,10.0,0.0,No,660409020001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No,130801060002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No,280405020004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No,580224030011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No,580912060001,...,NaN,580912060001,EASTPORT-SOUTH MANOR JUNIOR SENIOR HIGH SCHOOL,2018.0,Combined,All Students,1244,188.9,3,NaN
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
lunch_df1 = lunch_df.copy()
lunch_df1 = lunch_df1[lunch_df1['year'] == 2018]
lunch_df1['entity_cd'] = lunch_df1['entity_cd'].apply(str)
lunch_df1

,entity_cd,entity_name,year,num_free_lunch,per_free_lunch,num_reduced_lunch,per_reduced_lunch
0,1,NYC Public Schools,2018,670164,72,37424,4
1,2,Large Cities,2018,81038,79,1004,1
2,3,High Need/Resource Urban-Suburban Districts,2018,141728,69,8723,4
3,4,High Need/Resource Rural Districts,2018,72007,51,9301,7
4,5,Average Need Districts,2018,241901,33,35802,5
5,6,Low Need Districts,2018,44433,12,7061,2
6,7,Charter Schools,2018,102251,73,9352,7
7,1000000,ALBANY County,2018,15258,39,1014,3
8,2000000,ALLEGANY County,2018,2840,47,408,7
9,3000000,BROOME County,2018,12602,49,1108,4
10,4000000,CATTARAUGUS County,2018,5860,47,815,7
11,5000000,CAYUGA County,2018,3856,43,312,3
12,6000000,CHAUTAUQUA County,2018,9086,50,633,4
13,7000000,CHEMUNG County,2018,5289,48,325,3
14,8000000,CHENANGO County,2018,3544,51,513,7
15,9000000,CLINTON County,2018,4350,41,426,4
16,10000000,COLUMBIA County,2018,3088,45,300,4
17,11000000,CORTLAND County,2018,2699,46,331,6
18,12000000,DELAWARE County,2018,2385,46,293,6
19,13000000,DUTCHESS County,2018,11481,30,1701,4
20,14000000,ERIE County,2018,55159,45,4460,4
21,15000000,ESSEX County,2018,1463,40,216,6
22,16000000,FRANKLIN County,2018,3584,51,456,6
23,17000000,FULTON County,2018,3386,46,346,5
38,18000000,GENESEE County,2018,3064,39,474,6
39,19000000,GREENE County,2018,2319,41,236,4
40,20000000,HAMILTON County,2018,152,37,30,7
41,21000000,HERKIMER County,2018,4168,47,628,7
42,22000000,JEFFERSON County,2018,7401,43,1650,10
43,23000000,LEWIS County,2018,1677,42,389,10
...,...,...,...,...,...,...,...
16540,662401060010,WALTER PANAS HIGH SCHOOL,2018,181,20,39,4
16541,662402060000,YORKTOWN CENTRAL SCHOOL DISTRICT,2018,332,10,41,1
16542,662402060001,YORKTOWN HIGH SCHOOL,2018,125,11,17,1
16543,662402060002,MILDRED E STRANG MIDDLE SCHOOL,2018,76,9,10,1
16544,662402060003,BROOKSIDE SCHOOL,2018,56,13,4,1
16545,662402060004,CROMPOND SCHOOL,2018,42,8,8,2
16546,662402060005,MOHANSIC SCHOOL,2018,33,7,2,0
16547,670201060000,ATTICA CENTRAL SCHOOL DISTRICT,2018,353,29,99,8
16548,670201060001,ATTICA SENIOR HIGH SCHOOL,2018,115,26,31,7
16549,670201060002,ATTICA ELEMENTARY SCHOOL,2018,125,33,33,9
16550,670201060004,ATTICA JUNIOR HIGH SCHOOL,2018,113,29,35,9
16551,670401040000,LETCHWORTH CENTRAL SCHOOL DISTRICT,2018,302,34,61,7
16552,670401040001,LETCHWORTH SENIOR HIGH SCHOOL,2018,91,33,13,5
16553,670401040002,LETCHWORTH ELEMENTARY SCHOOL,2018,115,34,26,8
16554,670401040003,LETCHWORTH MIDDLE SCHOOL,2018,96,35,22,8
16555,671002040000,WYOMING CENTRAL SCHOOL DISTRICT,2018,45,39,11,10
16556,671002040001,WYOMING CENTRAL SCHOOL,2018,45,39,11,10
16557,671201060000,PERRY CENTRAL SCHOOL DISTRICT,2018,324,42,53,7
16558,671201060001,PERRY ELEMENTARY SCHOOL,2018,178,44,26,6
16559,671201060002,PERRY JUNIOR-SENIOR HIGH SCHOOL,2018,146,40,27,7
16560,671501040000,WARSAW CENTRAL SCHOOL DISTRICT,2018,355,42,46,5
16561,671501040001,WARSAW ELEMENTARY SCHOOL,2018,173,48,18,5
16562,671501040002,WARSAW MIDDLE/SENIOR HIGH SCHOOL,2018,182,37,28,6
16563,680601060000,PENN YAN CENTRAL SCHOOL DISTRICT,2018,688,51,69,5
16564,680601060001,PENN YAN ACADEMY,2018,220,50,21,5
16565,680601060002,PENN YAN MIDDLE SCHOOL,2018,135,45,18,6
16566,680601060005,PENN YAN ELEMENTARY SCHOOL,2018,333,55,30,5
16567,680801040000,DUNDEE CENTRAL SCHOOL DISTRICT,2018,344,54,51,8
16568,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2018,154,52,25,8
16569,680801040002,DUNDEE ELEMENTARY SCHOOL,2018,190,56,26,8

In [185]:
# merge comp_df2 with lunch_df1 on the BOCES code.
comp_df3 = pd.merge(
    comp_df2, 
    lunch_df1, 
    left_on='beds_code', 
    right_on='entity_cd',
    how = 'left')
comp_df3

,beds_code,school_district,school,county,school_city,school_zip_code,"number_of_outlets,_result_≤_15_ppb","number_of_outlets,_result_>_15_ppb",any_buildings_with_lead-free_plumbing?,entity_cd_x,...,composite__index,composite__level,override_y,entity_cd_y,entity_name_y,year_y,num_free_lunch,per_free_lunch,num_reduced_lunch,per_reduced_lunch
0,599000000000,BOCES No District Name,SULLIVAN BOCES,Sullivan,LIBERTY,12754,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,649000000006,BOCES No District Name,WSWHE BOCES MEYERS EDUCATIONAL CENTER MAIN BUI...,Washington,SARATOGA SPRINGS,12866,147.0,48.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141601060007,HAMBURG CENTRAL SCHOOL,HAMBURG SHS,Erie,HAMBURG,14075,98.0,6.0,No,141601060007,...,212.7,4,NaN,141601060007,HAMBURG HIGH SCHOOL,2018.0,187.0,17.0,45.0,4.0
3,650501040001,LYONS CENTRAL SCHOOL,LYONS ELEMENTARY SCHOOL,Wayne,LYONS,14489,27.0,2.0,No,650501040001,...,NaN,NaN,NaN,650501040001,LYONS ELEMENTARY SCHOOL,2018.0,294.0,59.0,26.0,5.0
4,450801060002,MEDINA CENTRAL SCHOOL,OAK ORCHARD SCHOOL,Orleans,MEDINA,14103,110.0,5.0,No,450801060002,...,NaN,NaN,NaN,450801060002,OAK ORCHARD SCHOOL,2018.0,232.0,56.0,29.0,7.0
5,411501060004,NEW HARTFORD CENTRAL SCHOOL,BRADLEY ELEMENTARY SCHOOL,Oneida,NEW HARTFORD,13413,97.0,0.0,No,411501060004,...,NaN,NaN,NaN,411501060004,ROBERT L BRADLEY ELEMENTARY SCHOOL,2018.0,38.0,8.0,12.0,3.0
6,141101060002,SPRINGVILLE-GRIFF INST CENTRAL SCHOOL,COLDEN ES,Erie,COLDEN,14033,55.0,6.0,No,141101060002,...,NaN,NaN,NaN,141101060002,COLDEN ELEMENTARY SCHOOL,2018.0,46.0,25.0,10.0,5.0
7,200901040001,WELLS CENTRAL SCHOOL,WELLS SCHOOL,Hamilton,WELLS,12190,44.0,11.0,No,200901040001,...,171.6,2,NaN,200901040001,WELLS SCHOOL,2018.0,55.0,40.0,14.0,10.0
8,X085,NYC DOE,X085,Bronx,Bronx,10458,78.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,600301040002,CANDOR CENTRAL SCHOOL,CANDOR J S H S,Tioga,CANDOR,13743,116.0,0.0,No,600301040002,...,154.7,2,NaN,600301040002,CANDOR JUNIOR-SENIOR HIGH SCHOOL,2018.0,146.0,42.0,20.0,6.0
10,060800010007,DUNKIRK CITY SCHOOL DISTRICT,SCHOOL 7,Chautauqua,DUNKIRK,14048,28.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,131601060015,ARLINGTON CENTRAL SCHOOL DISTRICT,UNION VALE MIDDLE SCHOOL,Dutchess,LAGRANGEVILLE,12540,150.0,45.0,No,131601060015,...,NaN,NaN,NaN,131601060015,UNION VALE MIDDLE SCHOOL,2018.0,140.0,13.0,38.0,4.0
12,X067,NYC DOE,X967,Bronx,Bronx,10460,4.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"M157,M341,M481",NYC DOE,M501,New York,Manhattan,10035,101.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,660203060007,HENDRICK HUDSON CENTRAL SCHOOL,BLUE MOUNTAIN MIDDLE SCHOOL,Westchester,CORTLANDT MANOR,10567,31.0,2.0,No,660203060007,...,NaN,NaN,NaN,660203060007,BLUE MOUNTAIN MIDDLE SCHOOL,2018.0,127.0,23.0,17.0,3.0
15,580212060001,LONGWOOD CENTRAL SCHOOL DISTRICT,C E WALTERS SCHOOL,Suffolk,YAPHANK,11980,202.0,1.0,No,580212060001,...,NaN,NaN,NaN,580212060001,C E WALTERS SCHOOL,2018.0,345.0,46.0,37.0,5.0
16,590501060003,FALLSBURGH CENTRAL SCHOOL,BENJAMIN COSOR ELEM SCHOOL,Sullivan,FALLSBURGH,12733,117.0,2.0,No,590501060003,...,NaN,NaN,NaN,590501060003,BENJAMIN COSOR ELEMENTARY SCHOOL,2018.0,535.0,71.0,0.0,0.0
17,No School,NYC DOE,K813,Kings,Brooklyn,11238,14.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,K768,NYC DOE,K664,Kings,Brooklyn,11220,47.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,261600010044,ROCHESTER CITY SCHOOLS,SCHOOL 44 LINCOLN PARK,Monroe,ROCHESTER,14611,41.0,2.0,No,261600010044,...,NaN,NaN,NaN,261600010044,SCHOOL 44-LINCOLN PARK,2018.0,200.0,98.0,0.0,0.0
20,060201060006,SOUTH WESTERN CENTRAL SCHALMONT-JAMESTOWN SCHO...,SOUTHWESTERN MS,Chautauqua,JAMESTOWN,14701,49.0,10.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,670401040002,LETCHWORTH CENT SCH AT GAINESVILLE,LETCHWORTH ES,Wyoming,GAINESVILLE,14427,33.0,7.0,No,670401040002,...,NaN,NaN,NaN,670401040002,LETCHWORTH ELEMENTARY SCHOOL,2018.0,115.0,34.0,26.0,8.0
22,660101030006,KATONAH LEWISBORO U F S,MEADOW POND ELEM SCHOOL,Westchester,SOUTH SALEM,10590,44.0,0.0,No,660101030006,...,NaN,NaN,NaN,660101030006,MEADOW POND ELEMENTARY SCHOOL,2018.0,24.0,7.0,0.0,0.0
23,600801040001,SPENCER VAN ETTEN CENTRAL SCHOOL,SPENCER VAN ETTEN MIDDLE SCHOOL,Tioga,SPENCER,14883,81.0,2.0,No,600801040001,...,NaN,NaN,NaN,600801040001,SPENCER-VAN ETTEN MIDDLE SCHOOL,2018.0,146.0,51.0,20.0,7.0
24,K325,NYC DOE,K260,Kings,Brooklyn,11207,108.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,580507060011,CONNETQUOT CENT SCH OF ISLIP,OAKDALE-BOHEMIA RD MIDDLE SCHOOL,Suffolk,OAKDALE,11769,47.0,0.0,No,580507060011,...,NaN,NaN,NaN,580507060011,OAKDALE-BOHEMIA MIDDLE SCHOOL,2018.0,102.0,15.0,18.0,3.0
26,420701060002,WESTHILL CENTRAL SCHOOL,CHERRY ROAD ELEM SCHOOL,Onondaga,SYRACUSE,13219,95.0,9.0,No,420701060002,...,NaN,NaN,NaN,420701060002,CHERRY ROAD ELEMENTARY SCHOOL,2018.0,74.0,20.0,14.0,4.0
27,440102060003,WASHINGTONVILLE CENTRAL SCHOOL,WASHINGTONVILLE S H S,Orange,WASHINGTONVILLE,10992,122.0,149.0,No,440102060003,...,179.3,3,NaN,440102060003,WASHINGTONVILLE SENIOR HIGH SCHOOL,2018.0,260.0,19.0,63.0,5.0
28,580205060002,SACHEM CENT SCH AT HOLBROOK,GRUNDY AVENUE SCHOOL,Suffolk,HOLBROOK,11741,50.0,0.0,No,580205060002,...,NaN,NaN,NaN,580205060002,GRUNDY AVENUE SCHOOL,2018.0,69.0,13.0,21.0,4.0
29,661100010002,NEW ROCHELLE CITY SCHOOLS,COLUMBUS ELEM SCHOOL,Westchester,NEW ROCHELLE,10801,95.0,8.0,No,661100010002,...,NaN,NaN,NaN,661100010002,COLUMBUS ELEMENTARY SCHOOL,2018.0,550.0,69.0,57.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4652,140600010019,BUFFALO CITY SCHOOLS,PS 19 NATIVE AMERICAN MAGNET SCHOOL,Erie,BUFFALO,14213,46.0,3.0,No,140600010019,...,NaN,NaN,NaN,140600010019,NATIVE AMERICAN MAGNET,2018.0,420.0,92.0,1.0,0.0
4653,061700010009,JAMESTOWN CITY SCHOOL DISTRICT,SAMUEL G. LOVE ES,Chautauqua,JAMESTOWN,14701,70.0,1.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4654,M265,NYC DOE,M387,New York,Manhattan,10040,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4655,"K404,K422,K053",NYC DOE,K422,Kings,Brooklyn,11208,157.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4656,510101040001,BRASHER FALLS CENT SCH DIST,ST LAWRENCE MIDDLE SCHOOL,Saint Lawrence,BRASHER FALLS,13613,20.0,0.0,No,510101040001,...,NaN,NaN,NaN,510101040001,ST LAWRENCE MIDDLE SCHOOL,2018.0,139.0,47.0,15.0,5.0
4657,440401060009,PINE BUSH CENTRAL SCHOOL,PINE BUSH ELEMENTARY SCHOOL,Orange,PINE BUSH,12566,111.0,1.0,No,440401060009,...,NaN,NaN,NaN,440401060009,PINE BUSH ELEMENTARY SCHOOL,2018.0,240.0,38.0,40.0,6.0
4658,619000000011,BOCES No District Name,TOMPKINS-SENECA-TIOGA BOCES BUILDING D REGIONA...,Tompkins,ITHACA,14850,18.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4659,220101040004,SOUTH JEFFERSON CENTRAL SCHOOL,MANNSVILLE MANOR ELEM SCHOOL,Jefferson,ADAMS,13605,146.0,1.0,No,220101040004,...,NaN,NaN,NaN,220101040004,MANNSVILLE MANOR ELEMENTARY SCHOOL,2018.0,144.0,45.0,36.0,11.0
4660,120701040001,FRANKLIN CENTRAL SCHOOL DISTRICT,FRANKLIN CENTRAL SCHOOL,Delaware,FRANKLIN,13775,36.0,11.0,No,120701040001,...,189.4,3,NaN,120701040001,FRANKLIN CENTRAL SCHOOL,2018.0,101.0,40.0,23.0,9.0
4661,489000000004,BOCES No District Name,PUTNAM-NORTHERN WESTCHESTER BOCES - Pines Brid...,Putnam,Yorktown Heights,10598,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4662,Q081,NYC DOE,Q081,Queens,Queens,11385,73.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4663,101001040006,CHATHAM CENTRAL SCHOOL DISTRICT,CHATHAM MS,Columbia,CHATHAM,12037,85.0,0.0,No,101001040006,...,NaN,NaN,NaN,101001040006,CHATHAM MIDDLE SCHOOL,2018.0,91.0,35.0,12.0,5.0
4664,049000000003,BOCES No District Name,CATTARAUGUS-ALLEGANY-ERIE-WYOMING BOCES HAYNES...,Cattaraugus,BELMONT,14813,NaN,NaN,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4665,151001040001,NEWCOMB CENTRAL SCHOOL,NEWCOMB CENTRAL SCHOOL,Essex,NEWCOMB,NY,48.0,3.0,No,151001040001,...,206,4,NaN,151001040001,NEWCOMB CENTRAL SCHOOL,2018.0,17.0,22.0,14.0,18.0
4666,"M194,M709",NYC DOE,M194,New York,Manhattan,10030,45.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4667,"M397,M094",NYC DOE,M971,New York,Manhattan,10038,141.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4668,280211030004,OCEANSIDE UNION FREE SCHOOL,SCHOOL 4,Nassau,OCEANSIDE,11572,21.0,0.0,No,280211030004,...,NaN,NaN,NaN,280211030004,SCHOOL 4,2018.0,38.0,13.0,5.0,2.0
4669,610301060001,DRYDEN CENTRAL SCHOOL,DRYDEN ELEMENTARY SCHOOL,Tompkins,DRYDEN,13053,114.0,0.0,No,610301060001,...,NaN,NaN,NaN,610301060001,DRYDEN ELEMENTARY SCHOOL,2018.0,205.0,44.0,19.0,4.0
4670,062901040004,WESTFIELD CENTRAL SCHOOL DISTRICT,WESTFIELD MS,Chautauqua,WESTFIELD,14787,20.0,3.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4671,"X045,X046",NYC DOE,X045,Bronx,Bronx,10458,116.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4672,240101040003,AVON CENTRAL SCHOOL DISTRICT,AVON MIDDLE SCHOOL,Livingston,AVON,14414,16.0,0.0,No,240101040003,...,NaN,NaN,NaN,240101040003,AVON MIDDLE SCHOOL,2018.0,91.0,28.0,20.0,6.0
4673,151501060007,TICONDEROGA CENTRAL SCHOOL,TICONDEROGA MIDDLE SCHOOL,Essex,TICONDEROGA,12883,34.0,6.0,No,151501060007,...,NaN,NaN,NaN,151501060007,TICONDEROGA MIDDLE SCHOOL,2018.0,70.0,38.0,2.0,1.0
4674,"K267,K648,K649",NYC DOE,K324,Kings,Brooklyn,11221,65.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4675,521800010012,SARATOGA SPRINGS CITY SCHOOLS,LAKE AVENUE SCHOOL,Saratoga,SARATOGA SPRINGS,12866,93.0,9.0,No,521800010012,...,NaN,NaN,NaN,521800010012,LAKE AVENUE ELEMENTARY SCHOOL,2018.0,36.0,9.0,1.0,0.0
4676,660409020001,ELMSFORD UNION FREE SCHOOL,CARL L DIXSON ELEM SCHOOL,Westchester,ELMSFORD,10523,10.0,0.0,No,660409020001,...,NaN,NaN,NaN,660409020001,CARL L DIXSON ELEMENTARY SCHOOL,2018.0,50.0,34.0,4.0,3.0
4677,130801060002,HYDE PARK CENTRAL SCHOOL DISTRICT,NETHERWOOD SCHOOL,Dutchess,HYDE PARK,12538,68.0,13.0,No,130801060002,...,NaN,NaN,NaN,130801060002,NETHERWOOD SCHOOL,2018.0,105.0,35.0,23.0,8.0
4678,280405020004,NEW HYDE PK-GARDEN CITY PK UFSD,MANOR OAKS WM BOWIE SCH,Nassau,NEW HYDE PARK,11040,13.0,0.0,No,280405020004,...,NaN,NaN,NaN,280405020004,MANOR OAKS WILLIAM BOWIE SCHOOL,2018.0,22.0,7.0,7.0,2.0
4679,580224030011,PATCHOGUE-MEDFORD U F SCH,SAXTON STREET MIDDLE SCHOOL,Suffolk,PATCHOGUE,11772,37.0,0.0,No,580224030011,...,NaN,NaN,NaN,580224030011,SAXTON MIDDLE SCHOOL,2018.0,321.0,46.0,61.0,9.0
4680,580912060001,EASTPORT SOUTH MANOR CENTRAL SCHOOL,EASTPORT SOUTH MANOR CENTRAL JR SHS,Suffolk,MANORVILLE,11949,60.0,0.0,No,580912060001,...,188.9,3,NaN,580912060001,EASTPORT-SOUTH MANOR JUNIOR SENIOR HIGH SCHOOL,2018.0,287.0,16.0,32.0,2.0
4681,K207,NYC DOE,K207,Kings,Brooklyn,11234,59.0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 1) masterlist of schools
# 2) demographics
# 3) lunch data
# 4) lead (limit, right)

## 5. Exploratory data analysis

## 6. Supervised Learning Models

## 7. Summary of Results

### Pros and Cons of Dataset:

### Future Study: